body {
    background: #242424 !important;
}

img {
    width: 100%;
}


/* LAYOUT */

.main-container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.credentials-form {
    width: 70%;
    align-self: center;
}

.measure-form {
    width: 75%;
}

.data-display {
    width: 75%;
}


/* TYPOGRAPHY */

.text-log-green {
    color: #00BF64;
}

.site-info-list {
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-info {
    width: 60%;
}

.site-info-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.small-font {
    font-size: 0.95rem;
}

.main-logo {
    margin-top: 3rem;
}
/* ELEMENTS */

.text-btn:hover {
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: #00BF64;
}

.placeholder-light::placeholder {
    color: white !important;
}

.placeholder-light::-ms-input-placeholder {
    color: white !important;
}
.btn-update {
    width: 100%;
}

@media (min-width: 768px) {
    .graph {
        width: 70%;
    }

    .save-today {
        width: 75%;
    }

    .main-logo {
        margin-top: 0rem;
    }

    .form-data {
        width: 25%;
    }

    .measure-form {
        width: 100% !important;
    }

    .data-display {
        width: 100% !important;
    }

    .main-container-centered {
        height: 100vh;
        align-items: center;
    }

    .credentials-form {
        align-self: self-end;
        width: 25%;
    }

    .btn-update {
        width: 70%;
    }

    .welcome-text {
        width: 50%;
        padding-top: 1.5rem;
    }

    .site-info-title {
        text-align: start;
        margin-bottom: 0;
    }
}
