.bg-dark-grey {
    background-color: #2C2C2C;
}

body {
    background: #2C2C2C !important;
}

.whole-viewport {
    margin: 0;
    height: 100vh;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-log-green {
    color: #4CBB17;
}

